/* Deckbox Emulation */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
html {
    background: #d9dfe4 url(https://deckbox.org/images/background-light.png);
    overflow-y: scroll;
}
body {
    margin: 0 auto;
    max-width: 1200px;
    min-height: 100vh;
    border-left: 1px solid #f0e9eb;
    border-right: 1px solid #f0e9eb;
    border-bottom: 1px solid #f0e9eb;
    -webkit-box-shadow: #bbb 0 2px 5px;
    box-shadow: #bbb 0 2px 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #fff;
}
header {
    position: fixed;
    z-index: 100;
    width: 1200px;
    max-width: 100%;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 140%;
    border-bottom: 1px solid #bbb;
    -webkit-box-shadow: #bbb 0 2px 5px;
    box-shadow: #bbb 0 2px 5px;
}
nav {
    padding: 0 15px;
    color: #fff;
    background-color: #3B5998;
}
nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style-type: none;
}
nav li {
    padding: 5px 0;
}
nav li:hover {
    background-color: #4e6aa3;
    background-color: #5e7ab3;
}
nav li a {
    padding: 4px 10px;
    white-space: nowrap;
    border-radius: 3px;
    outline: 0;
}
nav a:visited, nav a:link {
    color: #fff;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}
nav li img, nav li span {
    vertical-align: middle;
    margin-top: -3px;
}
.icon_16x2 {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    vertical-align: middle;
}
img {
    border: 0;
    margin: 0;
}
h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 140%;
    display: block;
    margin-bottom: 10px;
    padding: 50px 15px 12px;
    white-space: nowrap;
    border-bottom: 1px dotted #ccc;
}
.indented_content {
    width: 80%;
    margin: 0 auto;
    padding: 2em 0;
    color: #484848;
    font-size: 13px;
    line-height: 140%;
    font-family: Helvetica, Arial, sans-serif;
}
.s_pictures_simple {
    background-position: 0 -1809px;
}
.s_info {
    background-position: 0 -611px;
}
.sprite {
    background-image: url(https://deckbox.org/assets/icons/icons_sprite-728047db0283a2e04d3b4f7ebef83520.png);
    vertical-align: middle;
    margin-right: 5px;
    margin-top: -2px;
    border: 0;
}
.sprite_off {
    opacity: 0.35;
    filter: "alpha(opacity=35)";
}
.flag {
    width: 16px;
    height: 11px;
    margin-right: 5px;
    background: url(https://deckbox.org/assets/icons/flags_sprite-ba37a9334f81d2730101d419a001c9a9.png) no-repeat;
    vertical-align: middle;
    -webkit-box-shadow: 0 0 1px;
            box-shadow: 0 0 1px;
}
.flag.flag-us {
    background-position: -64px -154px;
}
.flag.flag-jp {
    background-position: -240px -66px;
}
.s_star2 {
    background-position: 0 -1361px;
}
.info p:first-of-type {
    position: relative;
}
.info p:first-of-type::before {
    content: "";
    background-image: url(https://deckbox.org/assets/icons/icons_sprite-728047db0283a2e04d3b4f7ebef83520.png);
    background-position: 0 -611px;
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    left: -1.5rem;
}
p {
    margin-bottom: 0.5rem;
}
strong.heading {
    display: block;
    margin-top: 2rem;
}



/* Page Info and Kofi area */

#page_info_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
}
#page_info {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 0px;
            flex: 1 0 0;
    min-width: 200px;
    margin-right: 2rem;
}
#kofi {
    -webkit-box-shadow: 1px 3px 5px 1px;
            box-shadow: 1px 3px 5px 1px;
    width: 200px;
    height: 200px;
    margin-top: 2rem;
    padding: 1rem;
    -webkit-transform: rotate(2deg);
        -ms-transform: rotate(2deg);
            transform: rotate(2deg);
    border: 1px solid #22aaa1;
    border-radius: 25px;
    text-align: center;
    float: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
#kofi > span {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 1.2;
}



/* Jump Menu Layout */

#menu {
    margin: 3em auto;
    width: 15em;
}
#menu h2 {
    margin: 2rem;
}
#menu ul {
    list-style: none;
    margin-left: 2rem;
}



/* Jump-to-Top Link */

#top {
    opacity: 0.3;
    position: fixed;
    bottom: 0.25em;
    right: 0.25em;
    z-index: 99;
    border: 2px solid black;
    outline: none;
    background-color: #aaa;
    color: black;
    text-decoration: none;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-weight: bold;
    width: 1em;
    height: 1em;
    padding-top: 0.3em;
    border-radius: 0.5em;
    font-size: 4em;
    -webkit-transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    -o-transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}
#top:hover {
    background-color: black;
    color: #aaa;
    border-color: #aaa;
}



/* Table Layout */

table {
    border-collapse: collapse;
    margin: 2em auto;
}
table td, table th {
    padding: 0.5em;
}
table td {
    font-size: 0.8em;
    text-align: left;
    border: 1px solid grey;
    background-color: #eee;
}
table th {
    background-color: #3B5998;
    color: white;
}
table tr:first-child th {
    background-color: white;
    color: black;
}
tbody::after {
    content: "";
    display: block;
    height: 1.5em;
}




/* Column Layout */

.columns {
    padding: 0.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.column {
    width: 100%;
}

/* Tablet Styles */
@media only screen and (min-width: 601px) and (max-width: 990px) {
    .column {
        width: 48%;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 991px) {
    .columns {
        width: 960px;
        margin: 0 auto;
    }
    .column {
        width: 30%;
    }
}



/* Heading Styles */

#precon_lists .ready {
    cursor: pointer;
}
#precon_lists h2, #precon_lists h3, #precon_lists h4 {
    position: relative;
    padding: 0.35rem;
   -webkit-touch-callout: none;
     -webkit-user-select: none;
        -moz-user-select: none;
         -ms-user-select: none;
             user-select: none;
}
#precon_lists h2 {
    text-align: center;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddf));
    background-image: -o-linear-gradient(top, #fff, #ddf);
    background-image: linear-gradient(to bottom, #fff, #ddf);
}
#precon_lists h3 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ddf), to(#eef));
    background-image: -o-linear-gradient(top, #ddf, #eef);
    background-image: linear-gradient(to bottom, #ddf, #eef);
}
#precon_lists h4 {
    border: solid #aaa;
    border-width: 1px 0 0;
    font-variant: small-caps;
    font-weight: normal;
}
#precon_lists .category {
    cursor: default;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 1.5rem;
    padding: 0 0.35rem;
    font-variant: none;
    border: none;
}
#precon_lists .category:nth-of-type(1) {
    margin-top: 0;
}
#precon_lists .disabled {
    color: grey;
    cursor: default !important;
}
#precon_lists .product-count {
    font-size: 0.7em;
    position: relative;
    top: -0.1em;
    font-weight: normal;
    color: grey;
}
#precon_lists .product-count::before {
    content: ' (';
}
#precon_lists .product-count::after {
    content: ')';
}
#precon_lists .discontinued::after {
    position: relative;
    font-size: 0.7em !important;
    top: -0.1em;
    content: " (discontinued)";
    color: red;
    font-style: italic;
    font-size: 0.9rem;
}



/* Dropdown Styles */

#precon_lists .list::before, #precon_lists .list::after {
    content: ' ';
    display: table;
}
#precon_lists .list_wrap {
    margin: 1rem 0;
    background-color: #eef;
   -webkit-box-shadow: #000 2px 2px 4px;
           box-shadow: #000 2px 2px 4px;
}
#precon_lists .list_group {
    margin-bottom: 0;
    background-color: #ddf;
}
#precon_lists .list {
    margin: 1rem 0 0;
}
#precon_lists .list_group > .list {
    margin: 0 0.5rem;
}
.list ul {
    list-style: none;
}
.list li {
    margin: 0 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
#precon_lists li:last-child {
    margin-bottom: 1rem;
}
#precon_lists .ready::before {
    content: ">";
    position: absolute;
    right: 0.5rem;
    color: #448;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}
#precon_lists .ready.closed::before {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
}



/* CSV Link Styles */

.list li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 1%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    background-color: rgba(255,255,255,0.5);
    outline: 1px solid blue;
    color: black;
    text-decoration: none;
    padding: 0.35rem;
    margin: 0.5rem 0.2rem 0rem;
    margin: 0.25rem 0.2rem;
    -webkit-transition: background-color 0.1s, color 0.1s, outline-color 0.1s, -webkit-box-shadow 0.1s;
    transition: background-color 0.1s, color 0.1s, outline-color 0.1s, -webkit-box-shadow 0.1s;
    -o-transition: background-color 0.1s, color 0.1s, box-shadow 0.1s, outline-color 0.1s;
    transition: background-color 0.1s, color 0.1s, box-shadow 0.1s, outline-color 0.1s;
    transition: background-color 0.1s, color 0.1s, box-shadow 0.1s, outline-color 0.1s, -webkit-box-shadow 0.1s;
}
.list li a:hover {
    background-color: rgba(0,0,200,0.2);
}
.list li a:focus {
    background-color: rgba(0,0,200,0.7);
    color: white;
}
.list li a.unverified {
    background-color: rgba(255,200,200,0.3);
    color: darkred;
    outline-color: red;
}
.list li a.unverified:hover {
    background-color: rgba(200,0,0,0.3);
}
.list li a.unverified:focus {
    background-color: rgba(150,0,0,0.7);
    color: white;
}
.list li a.missing {
    cursor: default;
    background-color: lightgray;
    color: grey;
    outline-color: lightgray;
}



/* Random Styles */

#precon_lists .set {
    width: 3rem;
    font-size: 0.9rem;
    padding-left: 0.5rem;
}
#precon_lists .includes {
    font-style: italic;
    font-size: 0.8rem;
    padding: 1rem 2rem;
}
#precon_lists .includes::before {
    content: "Each CSV includes: ";
    font-weight: bold;
}
.note {
    padding-left: 0.45rem;
    font-size: 0.7rem;
    font-style: italic;
}
.warning {
    color: #c00 !important;
}
